/* Font */
@font-face {
    font-family: 'Chalet Comprime';
    src: url('../fonts/ChaletComprime.ttf');
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Main */
body {
    background-color: #282828;
    color: #fff;
}

.cabecalho {
    height: 5rem;
    background-color: #0b0b0b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    border-bottom: 1px solid #282828;
}

.cabecalho .logo {
    display: flex;
    gap: 0.9375rem;
}

.cabecalho .menu {
    display: flex;
    gap: 1.875rem;
}

.cabecalho .menu li a {
    padding: 1.875rem;
    color: #e8e8e8;
    font-weight: bolder;
    font-size: 0.9375rem;
    font-family: 'Chalet';
}

.cabecalho .menu li a:hover {
    border-bottom: 2px solid #fff;
}

.home {
    background-color: aqua;
    display: flex;
    position: relative;
    min-height: calc(100vh - 80px);
}

.home::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, .85), rgba(0, 0, 0, .7) 35%, transparent 65%);
}

.home .imagem-fundo {
    width: 100%;
    object-fit: cover;
}

.home .informacoes {
    position: absolute;
    z-index: 1;
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 5rem 5rem 5rem 10.625rem;
    max-width: 48.75rem;
}

.home .informacoes img {
    max-width: 150px;
}

.home .informacoes .lista-de-jogos {
    display: flex;
    gap: 2rem;
}

.home .informacoes .titulo {
    font-family: 'Chalet Comprime';
    font-size: 3.4375rem;
}

.home .informacoes .texto {
    font-family: 'Chalet';
    font-size: 1rem;
    line-height: 1.6;
}

.btn-comprar, .btn-plataforma {
    background-color: rgba(255, 255, 255, 0.1);
    border: 0.5px solid #fff;
    border-radius: 0.25rem;
    font-family: 'Chalet Comprime';
    font-size: 1.75rem;
    text-align: center;
    padding: 1.25rem 2.5rem;
    text-transform: uppercase;
    width: 50%;
    transition: all .3s ease-in;
}

.btn-plataforma {
    color: #fff;
    width: 100%;
    cursor: pointer;
}

.btn-comprar:hover {
    background-color: #fff;
    color: #000;
}

.compre-ja {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 3.125rem;
}

.compre-ja .titulo {
    font-family: 'Chalet Comprime';
    font-size: 3.125rem;
    font-weight: 700;
    margin-bottom: 3.125rem;
}

.compre-ja .cartao {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    width: 50%;
    border-radius: 0.625rem;
    padding: 5rem;
    gap: 2.5rem;
}

.compre-ja .capa-do-jogo {
    width: 16.875rem;
}

.compre-ja .informacoes {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

.compre-ja .informacoes h3 {
    font-family: 'Chalet Comprime';
    font-size: 3.25rem;
    font-weight: 700;
}

.compre-ja .informacoes p {
    color: #e8e8e8;
    font-family: 'Chalet';
    font-size: 16px;
    line-height: 1.6;
}

.compre-ja .informacoes .plataformas {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.compre-ja .btn-plataforma .plataformas {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    transition: all .3s ease-in;
    display: none;
    opacity: 0;
}

.compre-ja .btn-plataforma .plataformas.ativo {
    display: flex;
    opacity: 1;
}

.compre-ja .btn-plataforma .plataformas li:nth-child(1){
    border: 1px solid #00439c;
}

.compre-ja .btn-plataforma .plataformas li:nth-child(1):hover{
    background-color: #00439c;
}
.compre-ja .btn-plataforma .plataformas li:nth-child(2){
    border: 1px solid #387a26;
}

.compre-ja .btn-plataforma .plataformas li:nth-child(2):hover{
    background-color: #387a26;
}

.compre-ja .btn-plataforma .plataformas li:nth-child(3) {
    border: 1px solid #00439c;
}

.compre-ja .btn-plataforma .plataformas li:nth-child(3):hover {
    background-color: #00439c;
}

.compre-ja .btn-plataforma .plataformas li:nth-child(4) {
    border: 1px solid #387a26; 
}

.compre-ja .btn-plataforma .plataformas li:nth-child(4):hover {
    background-color: #387a26;
}
.compre-ja .btn-plataforma .plataformas li:nth-child(5) {
    border: 1px solid #fcaf17; 
}

.compre-ja .btn-plataforma .plataformas li:nth-child(5):hover {
    background-color: #fcaf17;
}

/* Banner Trailer GTA 6 */
.banner {
    height: 2rem;
    background: linear-gradient(90deg,#64759d,#826092 40%,#e39986);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
}

.banner a {
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    font-size: 0.875rem;
    font-weight: 500;
    justify-content: center;
    letter-spacing: .25em;
    line-height: 120%;
    text-transform: uppercase;
    width: 100%;
}

@media (max-width: 658px) {
    .banner {
        /* display: none; */
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 20px 0;
        gap: 0.9375rem;
    }

    .banner a {
        font-size: 0.625rem;
    }
} 

/* Responsive */
@media (max-width: 1024px) {
    .cabecalho {
        justify-content: center;
        flex-direction: column;
        padding: 3.125rem 0;
        gap: 0.9375rem;
    }

    .cabecalho .menu li a {
        padding: 0.9375rem;
    }

    .home .informacoes {
        padding: 1.875rem;
    }

    .home .informacoes img {
        max-width: 6.25rem;
    }

    .home .informacoes .titulo {
        font-size: 2.5rem;
    }

    .compre-ja .cartao {
        width: 75%;
    }
} 

@media (max-width: 768px) {
    .compre-ja {
        padding: 1.875rem;
    }

    .compre-ja .cartao {
        width: 100%;
        padding: 5rem 1.25rem;
    }

    .compre-ja .informacoes h3 {
        font-size: 36px;
    }

    .compre-ja .informacoes .plataformas {
        flex-direction: column;
    }

    .btn-plataforma {
        margin-top: 0.9375rem;
        padding: 0.9375rem;
    }

    .btn-comprar {
        width: 100%;
    }
}

@media (max-width: 768px) {
    main::after {
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.4) 100%, transparent 65%);
    }

    .compre-ja .cartao .capa-do-jogo {
        max-width: 80%;
    }
}